		<nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Trading floor game</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://www.valeureux.org/blog/english/tradingfloor/">en</a></li>
            <li><a href="http://www.valeureux.org/blog/offres/nos-outils/jeu-la-corbeille/">fr</a></li>
            <li><a href="http://matslats.net/trading-floor-game">variations</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>