<html>
    {{#each styles}}
      <link rel="stylesheet" href="{{this}}" />
    {{/each}}
    <body>
        {{>navbar}}
        <div class="container">
            {{>error}}
            {{{ body }}}
        </div>
    </body>
    {{#each scripts}}
        <script src="{{this}}"></script>
    {{/each}}
</html>
