<form {{#if id}}id="{{id}}"{{/if}} target="_blank" class="form-inline" action="/" method="post">

  <div class="form-group">
    <label for="name">Name</label>
    <input type="input" class="form-control" placeholder="Name" name="name" {{#if name}}value="{{name}}" disabled="disabled"{{/if}} />
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="input" class="form-control" placeholder="Password" name="password" {{#if full}}disabled="disabled"{{/if}}/>
  </div>

  <div class="form-group">
  	<label for="numberOfExpectedPlayer">Players</label>
    <input type="number" class="form-control" name="numberOfExpectedPlayer" size="2"
    {{#if numberOfExpectedPlayer}}value="{{numberOfExpectedPlayer}}" disabled="disabled"{{/if}}
    {{#unless numberOfExpectedPlayer}}value="{{defaults.numberOfExpectedPlayer}}"{{/unless}} />
  </div>

  <div class="form-group">
    <label for="duration">Duration</label>
    <input type="input" class="form-control duration" placeholder="Duration" name="duration"
      {{#if duration}}value="{{duration}}" disabled="disabled"{{/if}}
      {{#unless duration}}value="{{defaults.duration}}"{{/unless}} />
  </div>

  <div class="form-group">
    <label for="rules">Rule <i class="fa fa-info-circle"></i></label>
    {{!-- rules.[DB].name --}}
  	<select class="form-control" name="rule" {{#if rule}}disabled="disabled"{{/if}}>
      {{#each rules}}
        <option value="{{@key}}" {{#if rule }} {{/if}}>{{this.name}}</option>
      {{/each}}
		</select>
	</div>

  {{#if token}}
    <input type="hidden" name="token" value="{{token}}" />
  {{/if}}

  <div class="form-button">
      {{#if id}}
        <button type="submit" class="create btn btn-default"><i class="fa fa-plus-circle"></i> create</button>
      {{else if finished}}
        <button type="submit" class="stats btn btn-default"><i class="fa fa-pie-chart"></i> view stats</button>
      {{else}}
        <button type="submit" class="play btn btn-default" {{#if full}}disabled="disabled"{{/if}}><i class="fa fa-play-circle-o"></i> play</button>
      {{/if}}

  </div>

</form>
