<div class="row">
  <div class="col-md-12">
    <h1>Add a new Round</h1>
    {{>home/game_form id='new-form'}}
    <div id="opened-game">
      {{#each rounds}}
        {{>home/game_form rules=../rules}}
      {{/each}}
    </div>
  </div>
</div>
