<div class="row">
  <div class="col-md-6">
  	{{>round/deck}}
    {{>round/hands name='master'}}
  </div>
  <div class="col-md-3">{{>round/offers name='master'}}</div>
  <div class="col-md-3">
    {{>round/player name='master'}}
    {{>round/game_control}}
    {{>round/timer}}
    {{>round/score}}
    {{>round/chat}}
  </div>
</div>
