<div class="row">
  <div class="col-md-6">{{>round/hands}}</div>
  <div class="col-md-3">{{>round/offers}}</div>
  <div class="col-md-3">
    {{>round/player}}
    {{>round/timer}}
    {{>round/score}}
    {{#if wallet}}
      {{>round/wallet}}
    {{/if}}
    {{#if balance}}
      {{>round/balance}}
    {{/if}}
    {{>round/chat}}
  </div>
</div>
