<div class="row text-center">
	<h1>{{round.name}}</h1>
	<h2>Ranking</h2>
	<script>
	var data = {
    labels: [ {{#each round.players }}'{{this.name}}',{{/each}} ],
    datasets: [
        {
            label: "{{ round.name}}",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: [ {{#each round.players }}{{this.score}},{{/each}} ]
        },
        {
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.5)",
            strokeColor: "rgba(151,187,205,0.8)",
            highlightFill: "rgba(151,187,205,0.75)",
            highlightStroke: "rgba(151,187,205,1)",
            data: [ {{#each round.players }}{{this.score}},{{/each}} ]
        }
    ]
	};
	</script>
  <canvas id="myChart" width="800" height="400"></canvas>
  <h2>Number of offers ...</h2>
</div>
