body { font: 13px Helvetica, Arial; }

.has-error label {
    color: #a94442;
}

#errors {
   display: none;
}

#new-form input[name="numberOfExpectedPlayer"], #new-form input[name="handSize"],
#opened-game input[name="numberOfExpectedPlayer"], #opened-game  input[name="handSize"] {
    width: 55px;
}

#new-form input[name="name"], #new-form input[name="password"],
#opened-game input[name="name"], #opened-game input[name="password"]{
    width: 140px;
}

.form-inline .form-control {
    display: block;
}

.form-inline .form-button {
    display: inline-block;
    vertical-align: bottom;
}

#playername, #playername input, #playername button,
#game-control, #game-control button {
    display: inline;
}

#playername input {
    font-size: 18px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
#message, #start-button { display: none; }

#my-hand, #hands, #offers, #deck {
    font-size: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.red {
    color: red;
}

.btn-offer[disabled="true"] {
    color: #cccccc;
}

.btn-offer[disabled="false"] {
    color: black;
}

.master input, #compose-offer .handAction {
    display: none;
}

/*
 * http://codepen.io/pennstatephil/pen/JoJoeO
 */
#compose-offer .wallet-box {
  display: inline-block;
  vertical-align: bottom;
  width: 30%;
  margin-bottom: 2px;
}
#compose-offer .slider {
  margin-left: 20px;
  margin-right: 20px;
  width: 20%;
  float: none;
  display: inline-block;
}
