<h2>
  <i class="fa fa-user"></i>
  <form id="playername" class="form-inline" action="">
    <div class="form-group">
      <label class="sr-only control-label" for="playername-input">Playername</label>
      <input id="playername-input" size="9" class="form-control" name="name" autocomplete="off" {{#if name}}value="{{name}}"{{/if}}/>
    </div>    
    <button>
    <i class="fa fa-share"></i>
    </button>
  </form>
</h2>